# Configuración de PostgreSQL
DATABASE_URL=postgres://postgres:tu_password@localhost:5432/scheduling_unt?sslmode=disable
# Puerto del servidor Express
PORT=3001

# Entorno
NODE_ENV=development

# Auth
JWT_SECRET=scheduling-unt-secret-2026
JWT_EXPIRES_IN=8h
ADMIN_USER=admin
ADMIN_PASS=admin123

# Para el envio de credenciales al docente
EMAIL_USER=secretariasistemas.unt@gmail.com
EMAIL_PASS=ghpx vtws ggij dydl

# Agregar BREVO_API_KEY
BREVO_API_KEY=your_api_key
