# Configuración de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=tu_password
DB_NAME=scheduling_unt

# Puerto del servidor Express
PORT=3001

# Entorno
NODE_ENV=development

# Auth
JWT_SECRET=scheduling-unt-secret-2024
JWT_EXPIRES_IN=8h
ADMIN_USER=admin
ADMIN_PASS=admin123

# Para el envio de credenciales al docente
EMAIL_USER=secretariasistemas.unt@gmail.com
EMAIL_PASS=ghpx vtws ggij dydl
